/* ==================== CONTACT-ME ==================== */
.contact-me__link {
	display: none;
}

@media (min-width: 1026px) {
	.contact-me__link {
		display: block;
		position: fixed;
		color: var(--text-color);
		bottom: 10px;
		left: 10px;
		padding: 10px 20px;
		border-radius: 20px;
		text-transform: uppercase;
		border: 2px solid #000;
		font-size: 16px;
		background: #000000;
		letter-spacing: 1px;
		transition: all var(--transition);
		font-weight: 700;
		z-index: 9999;
	}

	.contact-me__link:hover {
		color: var(--text-color-inverted);
		background: #fff;
		border: 2px solid #000;
		transition: all var(--transition);
	}
}

@media (min-width: 1540px) {
	.contact-me__link {
		bottom: 50px;
		left: 50px;
	}
}
