/* ==================== NAV ==================== */
.nav {
	width: 100%;
	position: absolute;
	padding: 25px 0;
	z-index: 999;
}
.nav__container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav__logo {
	font-size: 40px;
	font-weight: 400;
	color: #FFFFFF;
	letter-spacing: 1.5px;
}
.nav__list{
	display: flex;
	justify-self: flex-end;
}
.nav__link {
	text-transform: uppercase;
	color: var(--link-color);
	transition: color var(--transition);
}
.nav__link:hover {
	color: var(--link-hover);
}
.nav__item + .nav__item {
	margin: 0 0 0 20px;
}