/* ==================== LOGO ==================== */

.logo {
	font-weight: 400;
	color: var(--text-color);
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.logo--white {
	color: var(--text-color);
}

@media (min-width: 601px) {
	.logo {
		font-size: 40px;
	}
}
