/* ==================== BURGER ==================== */

.burger {
	padding: 25px 30px;
	position: relative;
	z-index: 9999;
}
.burger__line {
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: calc(50% - 1px);
	width: 20px;
	height: 2px;
	background: var(--color-main);
	opacity: 1;
	transition: all var(--transition-fast);
	pointer-events: none;
}
.burger::before,
.burger::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	left: calc(50% - 10px);
	background: var(--color-main);
	opacity: 1;
	top: calc(50% - 1px);
	transition: all var(--transition-fast);
	pointer-events: none;
}
.burger::before {
	transform: translate(0, 7px);
}
.burger::after {
	transform: translate(0, -7px);
}

.burger--black .burger__line, .burger--black::before, .burger--black::after {
	background: var(--color-second);
}

.burger.active .burger__line {
	transform: scaleX(2);
	opacity: 0;
	background: var(--color-second);
}
.burger.active.burger::before {
	transform: translate(0, 0) rotate(45deg);
	background: var(--color-second);
}
.burger.active.burger::after {
	transform: translate(0, 0) rotate(-45deg);
	background: var(--color-second);
}


@media (min-width: 1026px) {
	.burger {
		display: none;
	}
}
